---
import Layout from "../layout/Layout.astro";
---

<Layout title="Not found 🦝" description="Página no encontrada">
  <h1>404 - Página no encontrada</h1>

  <a href="/">Volver</a>
</Layout>

<style>
  h1 {
    text-align: center;
  }
  a {
    display: block;
    text-align: center;
    background: rebeccapurple;
    color: #fff;
    padding: 1rem;
    text-decoration: none;
  }
</style>
